<ul class="tabs primary-nav">
        <li class="tabs__item">
            <a href="/" class="tabs__link">Home</a>
        </li>
        <li class="tabs__item">
            <a href="/posts_index" class="tabs__link">Tutorials</a>
        </li>
        <li class="tabs__item">
            <a href="/projects" class="tabs__link">Projects</a>
        </li>
        <li class="tabs__item">
            <a href="/notes_index" class="tabs__link">Blog</a>
        </li>
        <li class="tabs__item">
            <a href="/about" class="tabs__link">About</a>
        </li>
        <li class="tabs__item">
            <a href="/contact" class="tabs__link">Contact</a>
        </li>
</ul>

<section class="page-header">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
</section>
